<br>
<footer class="page-footer #0091ea light-blue accent-4" id="footer">
          <div class="container">
            <div class="row">
              <div class="col l6 m5 s12">
                  <a href="/home"><img src="/media/123.png" height="10%" width="26%">  </a>
<!--                <h5 class="white-text">Rocky-Blog's</h5>-->
<!--                <p>A blogging zone that is written by self made mens thoughts</p>-->
              </div>
              <div class="col l4 m6 s12" id="contact">
                <h5 class="white-text center-align">Contact Us</h5>
                <ul class="list-inline center-align">
                   <li>
                            <a href="https://github.com/imRocky02">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <li>
                            <a href="https://twitter.com/RitikDhote">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/_r_0_c_k_y_02/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="www.facebook.com/ritik.dhote.96">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center-align">
           <b> © All rights are reserved Rocky-Blog's</b>
            </div>
          </div>
        </footer>
