{% extends 'base.html' %}

{% block title %} Home | Welcome to Rocky-Blog {% endblock %}

{% block content %}
<div class="container-custom center-align">
    <hr><h4> <b>Categories</b></h4><hr>
    <div class="owl-carousel">
        {% for cat in cats %}
        <div class="card-small hoverable bg-blur">
            <div class="img-container">
                 <img src="/media/{{cat.image}}" class="responsive-img mt30" alt="Image">
            </div>
            <div class="card-content">
                <div class="card-title">
                   <h5> {{cat.title}} </h5>
                </div>
                <div class="truncate">
                    {{cat.description | safe}}
                    <div class="center-align mt15">
                        <a href="/category/{{cat.url}}" class="btn #0091ea light-blue accent-4">View</a>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
<br>
<div class="container-custom center-align">
    <hr> <h4 class="center-align"> <b>Posts</b></h4><hr>
</div>
<div class="container">
     <div class="row">
         <div class="col s12">
             {% for p in posts %}
             <div class="row bg-blur">
                    <div class="col s12 m8">
                         {{p.content |truncatewords:60| safe}} <br>
                         <div class="mt30">
                             <a href="/blog/{{p.url}}" class="btn #0091ea light-blue accent-4">Read More..</a>
                         </div>
                    </div>
                    <div class="col s12 m4">
                        <img src="/media/{{p.image}}" class="responsive-img mt30" alt="Image">
                    </div>
             </div>
             {% endfor %}
         </div>
     </div>

</div>
{% endblock %}



